# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: local
      hooks:
          - id: build-strings
            name: build strings
            entry: npm run build-strings
            language: system
            pass_filenames: false
    - repo: local
      hooks:
          - id: build-commands
            name: build commands
            entry: npm run build-commands
            language: system
            pass_filenames: false
    - repo: local
      hooks:
          - id: build-script
            name: build script
            entry: npm run build
            language: system
            pass_filenames: false
